---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Status":"SUCCESS","Name":"Tesla Motors Inc","Symbol":"TSLA","LastPrice":243.16,"Change":0.650000000000006,"ChangePercent":0.268030184322298,"Timestamp":"Fri
        Aug 14 15:59:00 UTC-04:00 2015","MSDate":42230.6659722222,"MarketCap":30915848720,"Volume":192960,"ChangeYTD":222.41,"ChangePercentYTD":9.3296164740794,"High":247.3,"Low":241.8,"Open":247.3}'
  recorded_at: Sun, 16 Aug 2015 14:34:22 GMT
recorded_with: VCR 2.9.3
